.feed-form {
    &__inputs {
        &-wrapper {
            display: flex;
            justify-content: center;
            margin-bottom: 6px;
            .input-wrapper {
                z-index: 1000;
                // display: flex;
                // flex-direction: column;
                // align-items: center;
                // justify-content: center;
                label {
                    display: block;
                    color: red;
                    font-size: 12px;
                    margin: 7px 0 0 30px;
                }
                input {
                    display: block;
                    outline: none;
                }
            }
        }
        
    }
    &__input {
        border: 1px solid #898989;
        border-radius: 20px;
        min-width: 270px;
        height: 47px;
        padding: 0 30px;
        &_m4 {
            margin: 0 4px;
        }
        &_message {
            display: block;
            min-width: 818px;
            height: 73px;
            margin: 0 auto;
            border: 1px solid #898989;
            border-radius: 20px;
            padding: 0 30px;
        }
    }
    
    
    
}