.feed-form {
    &__inputs {
        display: flex;
        justify-content: center;
        
    }
    input {
        border: 1px solid #898989;
        border-radius: 20px;
        min-width: 270px;
        height: 46px;
        padding: 0 30px;
        &:nth-child(2) {
            margin: 0 7px;
        }
    }
}