.comments {
    min-height: 470px;
    padding: 51px 0 65px 0;
    
    &__slider {
        
        &-wrapper {
            width: 1803px;
            margin: 0 auto;
            position: relative;
        }
        &-container {
            overflow: hidden;
        }
        &-track {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            transition: .5s all;
        }
        &-slide {
            width: 361px;
            margin: 0 auto;
            opacity: .3;
            transition: .5s all;
        } 
    }
    
    &__img {
        margin-bottom: 19px;
        width: 114px;
        margin: 0 auto;
    }
    &__name {
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        color: #3a3a3a;
        margin-bottom: 14px;
    }
    &__descr {
        font-size: 14px;
        font-weight: 300;
        text-align: center;
    }
    
}
.active {
    width: 601px;
    opacity: 1;
    transform: scale(1);
}
// .owl-carousel .owl-nav {
//     position: absolute;
//     top: 35px;
//     left: 190px;
// }
// .owl-carousel .owl-nav button.owl-prev {
//     width: 14px;
//     height: 46px;
//     background: url('../../icons/left.png') center (center/cover) no-repeat;
//     margin-right: 190px;
// }  
// .owl-carousel .owl-nav button.owl-next {
//     width: 14px;
//     height: 46px;
//     background: url('../../icons/right.png') center (center/cover) no-repeat;
// }  
// .owl-carousel .owl-stage-outer {
//     overflow: visible;
// }

.prevArrow {
    width: 14px;
    height: 46px;
    background: url('../../icons/left.png') center (center/cover) no-repeat;
    border: none;
    position: absolute;
    top: 14%;
    left: 44%;
}
.nextArrow {
    width: 14px;
    height: 46px;
    background: url('../../icons/right.png') center (center/cover) no-repeat;
    border: none;
    position: absolute;
    top: 14%;
    right: 44%;    
}

// .owl-carousel .owl-drag .owl-item {
//     width: 361px;
// }
// .owl-carousel .owl-drag .owl-item.active {
//     min-width: 601px;
// }


