.consultation {
    min-height: 292px;
    padding-bottom: 58px;
    &__rectangle {
        display: block;
        width: 100%;
        min-height: 166px;
        border: 1px solid rgba(89, 89, 89, .4);
        position: relative;
        padding-top: 68px;
        // position: absolute;
        // top: 50px;
        // left: 0;
        // z-index: 5;
    }
    &__hatching {
        width: 122px;
        height: 10px;
        background-color: #fff;
        z-index: 10;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        &_big {
            width: 207px;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__button {
        position: relative;
        
    }
    &__line {
        width: 50%;
        opacity: .4;
        &-left, &-right {
            display: block;
            height: 165px;
            width: 1px;
            opacity: .4;
            background-color: #898989;
        }
        &-left {
            position: absolute;
            top: -143px;
            left: 0;
        }
        &-right {
            position: absolute;
            top: -143px;
            right: 0;
        }
    }
    &__invisible-layer {
        height: 45px;

    }
   

}