@import "libs/bootstrap-reboot.min";




@import "base/variables";
@import "libs/fonts";

* {
    font-family: 'Roboto';
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}


@import "base/button";
@import "base/title";
@import "blocks/promo";
@import "blocks/advantages";
@import "blocks/work";
@import "blocks/agent";