@import "libs/bootstrap-reboot.min";
// @import "slick.scss";
// @import "owl.carousel.scss";




@import "base/variables";
@import "libs/fonts";

* {
    font-family: 'Roboto';
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}


@import "base/button";
@import "base/red-line";
@import "base/icon";
@import "base/form";
@import "base/title";
@import "blocks/promo";
@import "blocks/advantages";
@import "blocks/work";
@import "blocks/agent";
@import "blocks/costs";
@import "blocks/consultation";
@import "blocks/managers";
@import "blocks/workus";
@import "blocks/comments";

